# Build and output directories
/target
/schema
/dist
/dist-ssr

# Dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Cargo+Git helper file
.cargo-ok

# Text file backups
**/*.rs.bk

# macOS
.DS_Store

# IDEs and editors
.vscode/*
!.vscode/extensions.json
.idea
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
*.local
.env
